secret.json
db.sqlite3
proyectobase/settings.py


# medias
media/

# migrations
applications/users/migrations/

# pycache
proyectobase/__pycache__/
applications/__pycache__/
applications/users/__pycache__/
proyectobase/settings/__pycache__/
applications/users/__pycache__/
