# llaves y claves
secret.json
db.sqlite3
proyectobase/settings.py

# medias
media/

# app migrations
applications/users/migrations/
applications/home/migrations/
applications/favotiros/migrations/
applications/entradas/migrations/

# pycache
proyectobase/__pycache__/
applications/__pycache__/
proyectobase/settings/__pycache__/

# app pycache
applications/users/__pycache__/
applications/home/__pycache__/
applications/favoritos/__pycache__/
applications/entradas/__pycache__/

