<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load  static %}
{% comment %} seo titulo entradas {% endcomment %}
{% block title %}
{{entry.title}}
{% endblock title %}

{% comment %} seo resumen entradas {% endcomment %}
{% block description %}
<meta name="description" content="{{entry.resumen}}">
{% endblock description %}

{% comment %} seo tags entradas, pero no funciona en chrome {% endcomment %}
{% block tags %}
<meta name="keywords" content="
    {% for t in entry.tag.all %}
        {{ t.name }} ,
    {% endfor %}
">
{% endblock tags %}


{% block content %}

{% include "includes/header.html" %}

    <h1>Cambiar Contraseña: {{user.nombres}}</h1>
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="success button">Actualizar</button>

    </form>


{% include "includes/footer.html" %}

{% endblock content %}